
<section class="gift container">
  <p class="gift__title title">first come, first served
  </p>
  <p class="gift__desc">1,000 people who leave a request will receive a gift from FLAVA
  </p>
  <form class="content js-form-ajax" data-action="https://httpbin.org/post" data-method="POST">
    <div class="content__fill"><input class="content__name input" name="name" type="text" data-rule="required|name" placeholder="Your name"/><input class="content__email input" name="email" type="email" data-rule="required|email" placeholder="Your Email"/><input class="content__phone input" name="phone" type="text" data-rule="required|phone" placeholder="Your phone"/>
    </div>
    <div class="content__message"><textarea class="content__text input" name="textarea" placeholder="Your message"></textarea><input class="content__submit submit" name="submit" type="submit" value="Send"/>
    </div>
  </form>
</section>