
<header class="header" id="header">
  <video class="header__video js-video" src="../static/img/video.mp4" type="video/mp4" muted loop autoplay>
  </video>
  <div class="header__inner" id="js-header__inner">
    <div class="container">
      <div class="header__wrap js-wrap">
        <div class="logo"><img class="logo__img" src="../static/img/Flava.svg"/>
        </div>
        <nav class="menu js-menu"> 
          <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="#header">Home</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="#lineup">LINE UP</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="#sponsors">TICKET</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="#timer">SCHEDULE</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="#footer">BE PART OF</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="#lineup">ABOUT</a>
            </li><li>
            <button class="menu__btn">Create account
            </button></li>
          </ul>
        </nav>
        <div class="burger js-burger"><span class="burger__stick"></span><span class="burger__stick burger__stick--sm"></span><span class="burger__stick"></span><span class="burger__stick burger__stick--sm"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="music container">
    <h1 class="music__title">ALL ABOUT MUSIC - ITS ALL HERE
    </h1>
    <h2 class="music__epigraph">Turn on the feeling with all music event 
    </h2>
    <button class="music__play js-button"><img class="music__img" src="../static/img/arrow.svg"/>
    </button>
  </div>
</header>