<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&amp;family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
  </head>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
  <title>Flava</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <body>
    <div id="app">
                        <header class="header" id="header">
                                                  <video class="header__video js-video" src="../static/img/video.mp4" type="video/mp4" muted loop autoplay>
                                                  </video>
                                                  <div class="header__inner js-header__inner">
                                                    <div class="container">
                                                                              <div class="header__wrap">
                                                                                                  <div class="logo"><img class="logo__img" src="../static/img/Flava.svg"/>
                                                                                                  </div>
                                                                                                  <nav class="menu js-menu">
                                                                                                                            <ul class="menu__list">
                                                                                                                                                      <li class="menu__item"><a class="menu__link" href="#header">Home</a>
                                                                                                                                                      </li>
                                                                                                                                                      <li class="menu__item"><a class="menu__link" href="#lineup">LINE UP</a>
                                                                                                                                                      </li>
                                                                                                                                                      <li class="menu__item"><a class="menu__link" href="#sponsors">TICKET</a>
                                                                                                                                                      </li>
                                                                                                                                                      <li class="menu__item"><a class="menu__link" href="#timer">SCHEDULE</a>
                                                                                                                                                      </li>
                                                                                                                                                      <li class="menu__item"><a class="menu__link" href="#footer">BE PART OF</a>
                                                                                                                                                      </li>
                                                                                                                                                      <li class="menu__item"><a class="menu__link" href="#lineup">ABOUT</a>
                                                                                                                                                      </li><li>
                                                                                                                                                      <button class="menu__btn">Create account
                                                                                                                                                      </button></li>
                                                                                                                            </ul>
                                                                                                  </nav>
                                                                                                  <div class="burger js-burger"><span class="burger__stick"></span><span class="burger__stick burger__stick--sm"></span><span class="burger__stick"></span><span class="burger__stick burger__stick--sm"></span>
                                                                                                  </div>
                                                                              </div>
                                                    </div>
                                                  </div>
                                            <div class="music container">
                                                                      <h1 class="music__title">ALL ABOUT MUSIC - ITS ALL HERE
                                                                      </h1>
                                                                      <h2 class="music__epigraph">Turn on the feeling with all music event 
                                                                      </h2>
                                                                      <button class="music__play js-button"><img class="music__img" src="../static/img/arrow.svg"/>
                                                                      </button>
                                            </div>
                        </header>
      <main class="main">
                                <section class="start container" id="counter">
                                                                  <p class="start__title title">Music festival start in
                                                                  </p>
                                                                  <div class="start__timer" id="timer">
                                                                                                    <div class="start__block"><span class="start__number" id="days">98 </span>
                                                                                                                                      <p class="start__text">days
                                                                                                                                      </p>
                                                                                                    </div>
                                                                                                    <div class="start__block"><span class="start__number" id="hours">11 </span>
                                                                                                                                      <p class="start__text">hours
                                                                                                                                      </p>
                                                                                                    </div>
                                                                                                    <div class="start__block"><span class="start__number" id="minutes">05 </span>
                                                                                                                                      <p class="start__text">minutes
                                                                                                                                      </p>
                                                                                                    </div>
                                                                                                    <div class="start__block"><span class="start__number" id="seconds">01 </span>
                                                                                                                                      <p class="start__text">seconds
                                                                                                                                      </p>
                                                                                                    </div>
                                                                  </div>
                                                                  <button class="start__btn">BUY TICKET
                                                                  </button>
                                </section>
                                <section class="lineups container" id="lineup">
                                                                  <div class="lineups__text">
                                                                                                    <p class="lineups__title title">the lineup of flafa
                                                                                                    </p>
                                                                  </div>
                                                                  <div class="lineups__wrapper">
                                                                                                    <div class="lineups__wrap js js--slider-lineup">
                                                                                                                                      <div class="lineups__picture"><img class="lineups__img" src="../static/img/rafaella_mob.jpg"/>
                                                                                                                                                                        <p class="lineups__name">rafaella
                                                                                                                                                                        </p>
                                                                                                                                      </div>
                                                                                                                                      <div class="lineups__picture"><img class="lineups__img" src="../static/img/bana_mob.jpg"/>
                                                                                                                                                                        <p class="lineups__name">atikh bana
                                                                                                                                                                        </p>
                                                                                                                                      </div>
                                                                                                                                      <div class="lineups__picture"><img class="lineups__img" src="../static/img/rayul_mob.jpg"/>
                                                                                                                                                                        <p class="lineups__name">rayul
                                                                                                                                                                        </p>
                                                                                                                                      </div>
                                                                                                                                      <div class="lineups__picture"><img class="lineups__img" src="../static/img/bana_mob.jpg"/>
                                                                                                                                                                        <p class="lineups__name">atikh bana
                                                                                                                                                                        </p>
                                                                                                                                      </div>
                                                                                                    </div>
                                                                                                    <div class="lineups__arrows"> 
                                                                                                    </div>
                                                                  </div>
                                </section>
                                <section class="sponsors container" id="sponsors">
                                                                  <div class="sponsors__text"> 
                                                                                                    <p class="sponsors__title title">SPONSORS
                                                                                                    </p>
                                                                  </div>
                                                                  <div class="sponsors__wrapper js js--slider-sponsors">
                                                                                                    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/vstudio.jpg"/></a>
                                                                                                    </div>
                                                                                                    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/pizzahot.jpg"/></a>
                                                                                                    </div>
                                                                                                    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/trainsia.jpg"/></a>
                                                                                                    </div>
                                                                                                    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/firevent.jpg"/></a>
                                                                                                    </div>
                                                                                                    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/baberock.jpg"/></a>
                                                                                                    </div>
                                                                                                    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/crocodie.jpg"/></a>
                                                                                                    </div>
                                                                                                    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/pizzahot.jpg"/></a>
                                                                                                    </div>
                                                                  </div>
                                </section>
                                <section class="gift container">
                                                                  <p class="gift__title title">first come, first served
                                                                  </p>
                                                                  <p class="gift__desc">1,000 people who leave a request will receive a gift from FLAVA
                                                                  </p>
                                                          <form class="content js-form-ajax" data-action="https://httpbin.org/post" data-method="POST">
                                                                                            <div class="content__fill"><input class="content__name input" name="name" type="text" data-rule="required|name" placeholder="Your name"/><input class="content__email input" name="email" type="email" data-rule="required|email" placeholder="Your Email"/><input class="content__phone input" name="phone" type="text" data-rule="required|phone" placeholder="Your phone"/>
                                                                                            </div>
                                                                                            <div class="content__message"><textarea class="content__text input" name="textarea" placeholder="Your message"></textarea><input class="content__submit submit" name="submit" type="submit" value="Send"/>
                                                                                            </div>
                                                          </form>
                                </section>
                                <section class="feedback container">
                                                                  <div class="feedback__wrap">
                                                                                                    <p class="feedback__social">Phone
                                                                                                    </p><a class="feedback__link" href="tel:+628122345678">+62 812 2345 678</a>
                                                                                                    <p class="feedback__social">Email
                                                                                                    </p><a class="feedback__link" href="mailto: someone@example.com">Flavamusicfest@mail.com</a>
                                                                  </div>
                                                          <div class="social">
                                                                                            <p class="social__touch">Keep In Touch
                                                                                                                              <form class="social__wrap js-form-ajax"><input class="social__input input" name="email" type="email" data-rule="required|email" placeholder="Your Email"/><input class="social__submit submit" type="submit" value="Subscribe"/>
                                                                                                                              </form>
                                                                                            </p>
                                                                                            <ul class="social__list">
                                                                                                                              <li class="social__item"><a class="social__link" href="https://www.instagram.com/"><img class="social__icon" src="../static/img/instagram.svg"/></a>
                                                                                                                              </li>
                                                                                                                              <li class="social__item"><a class="social__link" href="https://www.youtube.com/"><img class="social__icon" src="../static/img/youtube.svg"/></a>
                                                                                                                              </li>
                                                                                                                              <li class="social__item"><a class="social__link" href="https://open.spotify.com/"><img class="social__icon" src="../static/img/music.svg"/></a>
                                                                                                                              </li>
                                                                                            </ul>
                                                          </div>
                                </section>
      </main>
                        <footer class="footer" id="footer">
                          <div class="container">
                                                    <div class="footer__wrap"> <a class="footer__terms" href="#">Terms & Conditions for Event • Privacy Policy • Terms of Use</a><a class="footer__copyright" href="#">Copyright © 2021 • Flava - Music Festival</a>
                                                    </div>
                                              <div class="toTop" id="js--to-top">
                                                <svg width="30" height="40" viewBox="0 0 185 284" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path class="three" d="M93 0L184.924 91.9239L166.539 110.309L74.6152 18.3848L93 0Z" fill="#ffffff"></path>
                                                  <rect class="two" y="93" width="130" height="26" transform="rotate(-45 0 93)" fill="#ffffff"></rect>
                                                  <rect class="middle" x="81" y="33" width="26" height="251" fill="#ffffff"></rect>
                                                </svg>
                                              </div>
                          </div>
                        </footer>
    </div>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>