
<section class="lineups container" id="lineup">
  <div class="lineups__text">
    <p class="lineups__title title">the lineup of flafa
    </p>
  </div>
  <div class="lineups__wrapper">
    <div class="lineups__wrap js js--slider-lineup">
      <div class="lineups__picture"><img class="lineups__img" src="../static/img/rafaella_mob.jpg"/>
        <p class="lineups__name">rafaella
        </p>
      </div>
      <div class="lineups__picture"><img class="lineups__img" src="../static/img/bana_mob.jpg"/>
        <p class="lineups__name">atikh bana
        </p>
      </div>
      <div class="lineups__picture"><img class="lineups__img" src="../static/img/rayul_mob.jpg"/>
        <p class="lineups__name">rayul
        </p>
      </div>
      <div class="lineups__picture"><img class="lineups__img" src="../static/img/bana_mob.jpg"/>
        <p class="lineups__name">atikh bana
        </p>
      </div>
    </div>
    <div class="lineups__arrows"> 
    </div>
  </div>
</section>