
<section class="social container">
  <p class="social__touch">Keep In Touch
  </p>
  <form class="social__wrap js-form-ajax"><input class="social__input input" name="email" type="email" data-rule="required|email" placeholder="Your Email"/><input class="social__submit submit" type="submit" value="Subscribe"/>
  </form>
  <ul class="social__list">
    <li class="social__item"><a class="social__link" href="https://www.instagram.com/"><img class="social__icon" src="../static/img/instagram.svg"/></a>
    </li>
    <li class="social__item"><a class="social__link" href="https://www.youtube.com/"><img class="social__icon" src="../static/img/youtube.svg"/></a>
    </li>
    <li class="social__item"><a class="social__link" href="https://open.spotify.com/"><img class="social__icon" src="../static/img/music.svg"/></a>
    </li>
  </ul>
</section>