
<section class="sponsors container" id="sponsors">
  <div class="sponsors__text"> 
    <p class="sponsors__title title">SPONSORS
    </p>
  </div>
  <div class="sponsors__wrapper js js--slider-sponsors">
    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/vstudio.jpg"/></a>
    </div>
    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/pizzahot.jpg"/></a>
    </div>
    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/trainsia.jpg"/></a>
    </div>
    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/firevent.jpg"/></a>
    </div>
    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/baberock.jpg"/></a>
    </div>
    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/crocodie.jpg"/></a>
    </div>
    <div class="sponsors__picture"><a href="#"><img class="sponsors__img" src="../static/img/pizzahot.jpg"/></a>
    </div>
  </div>
</section>