
<section class="start container" id="counter">
  <p class="start__title title">Music festival start in
  </p>
  <div class="start__timer" id="timer">
    <div class="start__block"><span class="start__number" id="days">98 </span>
      <p class="start__text">days
      </p>
    </div>
    <div class="start__block"><span class="start__number" id="hours">11 </span>
      <p class="start__text">hours
      </p>
    </div>
    <div class="start__block"><span class="start__number" id="minutes">05 </span>
      <p class="start__text">minutes
      </p>
    </div>
    <div class="start__block"><span class="start__number" id="seconds">01 </span>
      <p class="start__text">seconds
      </p>
    </div>
  </div>
  <button class="start__btn">BUY TICKET
  </button>
</section>