@use "sass:math" {}html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html:focus, body:focus, div:focus, span:focus, applet:focus, object:focus, iframe:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, blockquote:focus, pre:focus,
a:focus, abbr:focus, acronym:focus, address:focus, big:focus, cite:focus, code:focus,
del:focus, dfn:focus, em:focus, img:focus, ins:focus, kbd:focus, q:focus, s:focus, samp:focus,
small:focus, strike:focus, strong:focus, sub:focus, sup:focus, tt:focus, var:focus,
b:focus, u:focus, i:focus, center:focus,
dl:focus, dt:focus, dd:focus, ol:focus, ul:focus, li:focus,
fieldset:focus, form:focus, label:focus, legend:focus,
table:focus, caption:focus, tbody:focus, tfoot:focus, thead:focus, tr:focus, th:focus, td:focus,
article:focus, aside:focus, canvas:focus, details:focus, embed:focus,
figure:focus, figcaption:focus, footer:focus, header:focus, hgroup:focus,
menu:focus, nav:focus, output:focus, ruby:focus, section:focus, summary:focus,
time:focus, mark:focus, audio:focus, video:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *zoom-max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  *vertical-align-box-size: border-box;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.control {
  background: rgba(255, 255, 255, 0.05);
  width: 1.5625rem;
  height: 1.5625rem;
  display: flex;
}

@media screen and (min-width: 48rem) {
  .control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 62rem) {
  .control {
    width: 2.1875rem;
  }
}

@media screen and (min-width: 75rem) {
  .control {
    cursor: pointer;
    transition: 0.5;
  }
  .control:hover {
    opacity: 0.5;
    transition: 0.5;
  }
}

.control__img {
  display: block;
}

.control--next {
  transform: rotate(180deg);
  right: 0;
  margin-left: 0.625rem;
}

.control--prev {
  right: 0;
}

.slick-dots {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 4px;
}

@media screen and (min-width: 75rem) {
  .slick-dots button:hover {
    background-color: rgba(254, 186, 8, 0.5);
  }
}

.slick-dots li.slick-active button {
  background-color: var(--theme--color-primary);
}

:root {
  --text--color-primary: #FFFFFF;
  --text--color-secondary: #121212;
  --text--color-accessory: #FEBA08;
  --theme--color-primary: #FEBA08;
  --background--color-primary: #121212;
  --background--color-secondary: #ffffff;
  --font--family-primary: Poopins;
  --font--family-secondary: Roboto;
  --mq--size-sm: 33.75rem;
  --mq--size-md: 45rem;
  --mq--size-lg: 60rem;
  --mq--size-xl: 71.25rem;
  --mq--size-xxl: 85.375rem;
  --font--size-xxsm: 0.813rem;
  --font--size-xsm: 0.875rem;
  --font--size-sm: 1.125rem;
  --font--size-md: 1.5rem;
  --font--size-lg: 2.25rem;
  --font--size-xl: 3rem;
  --font--size-xxl: 4.5rem;
}

body {
  background-color: var(--background--color-primary);
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0% 7%;
}

@media screen and (min-width: 36rem) {
  .container {
    max-width: var(--mq--size-sm);
    margin: 0 auto;
    padding: 0 1%;
  }
}

@media screen and (min-width: 48rem) {
  .container {
    max-width: var(--mq--size-md);
    margin: 0 auto;
  }
}

@media screen and (min-width: 62rem) {
  .container {
    max-width: var(--mq--size-lg);
    margin: 0 auto;
  }
}

@media screen and (min-width: 75rem) {
  .container {
    max-width: var(--mq--size-xl);
    margin: 0 auto;
  }
}

.header {
  background-image: url("../img/background_mobile.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 36rem) {
  .header {
    background-image: url("../img/background.jpg");
    background-position: center;
  }
}

.header__inner {
  padding: 1.25rem 0;
  position: sticky;
  top: 0;
  z-index: 1300;
}

.header__video {
  display: none;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 6.8125rem;
  z-index: 10;
}

@media screen and (min-width: 75rem) {
  .logo {
    max-width: 9.125rem;
  }
}

.logo__img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 95vh;
  padding: 5.5rem 1rem 3rem;
  background-color: var(--background--color-primary);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 1000;
  transition: 1s;
  display: none;
}

@media screen and (min-width: 62rem) {
  .menu {
    display: flex;
    position: sticky;
    padding: 0;
    background-color: transparent;
    height: inherit;
  }
}

.menu__list {
  display: flex;
  height: 90%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 62rem) {
  .menu__list {
    flex-direction: row;
    height: inherit;
  }
}

.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__link {
  font-family: var(--font--family-primary);
  font-weight: 400;
  font-size: var(--font--size-md);
  color: var(--text--color-primary);
  text-decoration: none;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 62rem) {
  .menu__link {
    font-size: var(--font--size-sm);
    border: none;
  }
}

@media screen and (min-width: 75rem) {
  .menu__link:before, .menu__link:after {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.5s ease;
  }
  .menu__link:after {
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  .menu__link:before {
    width: 0%;
    height: 0%;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  .menu__link:hover:before, .menu__link:hover:after {
    width: 100%;
    height: 100%;
    border-color: var(--theme--color-primary);
  }
}

.menu__btn {
  border: 1px solid var(--theme--color-primary);
  background: transparent;
  font-family: var(--font--family-primary);
  font-weight: 500;
  font-size: var(--font--size-sm);
  color: var(--text--color-primary);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@media screen and (min-width: 75rem) {
  .menu__btn {
    margin-left: 3.75rem;
  }
  .menu__btn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--theme--color-primary);
    z-index: -1;
  }
  .menu__btn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  .menu__btn:focus:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
}

.burger {
  width: 1.5625rem;
  height: 1.0625rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1100;
}

@media screen and (min-width: 62rem) {
  .burger {
    display: none;
  }
}

.burger__stick {
  content: "";
  background-color: var(--background--color-secondary);
  width: 100%;
  height: 2px;
}

.burger__stick--sm {
  content: "";
  background-color: var(--background--color-secondary);
  width: 60%;
  height: 2px;
}

.music {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music__title {
  min-width: 21.5rem;
  font-family: var(--font--family-primary);
  font-weight: bold;
  font-size: var(--font--size-lg);
  color: var(--text--color-primary);
  line-height: 133.69%;
  text-align: center;
}

@media screen and (min-width: 48rem) {
  .music__title {
    font-size: var(--font--size-xl);
    min-width: 47.5rem;
  }
}

@media screen and (min-width: 62rem) {
  .music__title {
    min-width: 56.5rem;
  }
}

.music__epigraph {
  color: var(--text--color-primary);
  font-family: var(--font--family-primary);
  font-weight: 500;
  font-size: var(--font--size-fsm);
  line-height: 133.69%;
  text-align: center;
}

@media screen and (min-width: 48rem) {
  .music__epigraph {
    font-size: var(--font--size-md);
  }
}

.music__play {
  margin-top: 15.2439%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--background--color-secondary);
  height: 4.875rem;
  width: 4.875rem;
}

@media screen and (min-width: 48rem) {
  .music__play {
    margin-top: 3.125rem;
  }
}

@media screen and (min-width: 75rem) {
  .music__play {
    transition: 1s;
  }
  .music__play:hover {
    opacity: 0.6;
    transition: 1s;
  }
}

.music__play::before {
  content: "";
  height: 4.875rem;
  width: 4.875rem;
  position: absolute;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.5);
}

.start {
  margin-top: 9.73236%;
}

@media screen and (min-width: 48rem) {
  .start {
    margin-top: 2.5rem;
  }
}

.start__timer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-row-gap: 2.5rem;
  margin-top: 2.5rem;
}

@media screen and (min-width: 62rem) {
  .start__timer {
    grid-template-columns: repeat(4, 9.375rem);
    justify-content: center;
    grid-column-gap: 2rem;
  }
}

.start__block {
  color: var(--text--color-primary);
}

.start__text {
  font-size: var(--font--size-sm);
  text-align: center;
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
}

.start__number {
  font-family: var(--font--family-primary);
  font-weight: bold;
  font-size: var(--font--size-xxl);
}

.start__title {
  text-align: center;
}

@media screen and (min-width: 62rem) {
  .start__title {
    font-size: var(--font--size-lg);
  }
}

.start__btn {
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font--size-sm);
  color: var(--text--color-secondary);
  padding: 0.9375rem 1.625rem;
  background: var(--theme--color-primary);
  margin: 12.16545% auto 0;
  display: block;
  border: 1px solid transparent;
  transition: 1s;
}

@media screen and (min-width: 62rem) {
  .start__btn {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 75rem) {
  .start__btn:hover {
    background: transparent;
    color: var(--theme--color-primary);
    border: 1px solid var(--theme--color-primary);
    transition: 1s;
  }
}

.is-active .menu {
  display: block;
}

@media screen and (min-width: 36rem) {
  .is-active .menu {
    width: 40%;
  }
}

.is-active .burger {
  position: relative;
}

.is-active .burger__stick {
  background-color: #FEBA08;
}

.is-active .burger__stick:nth-child(2n+1) {
  position: absolute;
  bottom: 7px;
  left: -1px;
}

.is-active .burger__stick:nth-child(1) {
  transform: rotate(45deg);
}

.is-active .burger__stick:nth-child(3) {
  transform: rotate(-45deg);
}

.is-active .burger__stick--sm {
  opacity: 0;
}

.js--video-active {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.js--is-scroled {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}

.toTop {
  position: fixed;
  bottom: 4.1rem;
  right: 1.875rem;
  padding: 0.8em 0.8em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 2s ease;
  display: none;
}

@media screen and (min-width: 75rem) {
  .toTop:hover {
    transition: all 1s ease;
    background: var(--theme--color-primary);
  }
}

.is_show {
  display: block;
}

.error + div {
  color: red;
  position: absolute;
}

.title {
  color: var(--text--color-accessory);
  font-family: var(--font--family-primary);
  font-weight: bold;
  font-size: var(--font--size-md);
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 48rem) {
  .title {
    font-size: var(--font--size-lg);
  }
}

.input {
  font-family: var(--font--family-secondary);
  width: 21.25rem;
  padding: 0.3125rem;
  height: 3.1875rem;
  font-size: var(--font--size-xxsm);
}

@media screen and (min-width: 75rem) {
  .input {
    width: 90%;
  }
}

.input:focus::placeholder {
  opacity: 0;
}

@media screen and (min-width: 75rem) {
  .input {
    font-size: var(--font--size-sm);
    outline: none;
  }
  .input:hover {
    outline: 2px solid var(--theme--color-primary);
  }
  .input:focus {
    outline: 2px solid var(--theme--color-primary);
  }
}

.input::placeholder {
  color: var(--text--color-secondary);
}

.input:not(.input:first-child) {
  margin-top: 1.2rem;
}

@media screen and (min-width: 75rem) {
  .input:not(.input:first-child) {
    margin-top: 2.625rem;
  }
}

.submit {
  background: var(--theme--color-primary);
  border: none;
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font--size-sm);
  color: var(--text--color-secondary);
  border: 1px solid transparent;
  transition: 1s;
}

@media screen and (min-width: 75rem) {
  .submit:hover {
    background-color: transparent;
    border: 1px solid var(--theme--color-primary);
    transition: 1s;
  }
}

.lineups__text {
  margin-top: 9.73236%;
}

.lineups__wrapper {
  margin-top: 1.875rem;
  position: relative;
}

.lineups__wrap {
  display: flex;
  justify-content: center;
}

.lineups__picture {
  position: relative;
  max-width: 17rem;
  padding-left: 14%;
}

@media screen and (min-width: 36rem) {
  .lineups__picture {
    padding-left: 25%;
  }
}

@media screen and (min-width: 48rem) {
  .lineups__picture {
    padding-left: 10%;
  }
}

@media screen and (min-width: 75rem) {
  .lineups__picture {
    max-width: 23.1875rem;
    height: 21.5rem;
    padding-left: 0;
    cursor: pointer;
  }
}

.lineups__img {
  margin: 0 auto;
  width: 100%;
  display: block;
  object-fit: cover;
}

.lineups__name {
  height: 18.02326%;
  position: absolute;
  width: 17rem;
  text-transform: uppercase;
  background: rgba(18, 18, 18, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font--family-primary);
  font-weight: bold;
  font-size: var(--font--size-md);
  color: var(--text--color-accessory);
}

@media screen and (min-width: 75rem) {
  .lineups__name {
    width: 23.1875rem;
    bottom: -3px;
    transition: 1s;
  }
}

.lineups__arrows {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 1.875rem;
  transform: translateX(-15%);
}

@media screen and (min-width: 48rem) {
  .lineups__arrows {
    transform: translateX(-89%);
  }
}

@media screen and (min-width: 75rem) {
  .lineups__arrows {
    top: -5.063rem;
    right: -3.5rem;
  }
}

@media screen and (min-width: 75rem) {
  .lineups__picture:hover .lineups__name {
    transition: 1s;
    height: 101%;
    font-size: var(--font--size-xl);
  }
}

.sponsors {
  margin-top: 29.19708%;
}

@media screen and (min-width: 48rem) {
  .sponsors {
    margin-top: 7.5rem;
  }
}

@media screen and (min-width: 75rem) {
  .sponsors__title {
    font-size: var(--font--size-lg);
  }
}

.sponsors__wrapper {
  margin-top: 1.875rem;
  padding-bottom: 1.25rem;
}

.sponsors__picture {
  max-width: 10.5rem;
}

@media screen and (min-width: 75rem) {
  .sponsors__picture {
    cursor: pointer;
  }
}

.sponsors__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 75rem) {
  .sponsors__img:hover {
    border-radius: 10%;
  }
}

.gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift__title {
  margin-top: 2.5rem;
}

.gift__desc {
  font-size: var(--font--size-xxsm);
  color: var(--text--color-primary);
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
  max-width: 13.375rem;
  margin-top: 0.625rem;
  text-align: center;
}

@media screen and (min-width: 36rem) {
  .gift__desc {
    max-width: fit-content;
  }
}

@media screen and (min-width: 48rem) {
  .gift__desc {
    font-size: var(--font--size-md);
  }
}

@media screen and (min-width: 75rem) {
  .gift__desc {
    align-self: flex-start;
    margin-top: 2.75rem;
  }
}

.content {
  max-width: 22.125rem;
  position: relative;
}

@media screen and (min-width: 75rem) {
  .content {
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.875rem;
  }
}

.content__message {
  max-width: 22.125rem;
  position: relative;
}

@media screen and (min-width: 75rem) {
  .content__message {
    max-width: fit-content;
  }
}

.content__fill {
  margin-top: 1.6875rem;
  position: relative;
  max-width: 22.125rem;
}

@media screen and (min-width: 75rem) {
  .content__fill {
    width: 50%;
    max-width: max-content;
    margin-top: 0;
  }
}

.content__text {
  margin-top: 1.2rem;
  height: 21.3125rem;
  width: 22.125rem;
  box-sizing: border-box;
  text-align: top;
  font-family: var(--font--family-secondary);
  font-size: var(--font--size-xxsm);
  padding: 1rem 0.3125rem 0.3125rem;
}

@media screen and (min-width: 75rem) {
  .content__text {
    height: 17.4375rem;
    font-size: var(--font--size-sm);
    margin-top: 0;
    width: 34.125rem;
  }
}

.content__submit {
  position: absolute;
  padding: 0.9375em 2.1875em;
  bottom: 0;
  right: 0;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 48rem) {
  .feedback {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (min-width: 75rem) {
  .feedback {
    justify-content: space-between;
  }
}

.feedback__social {
  font-family: var(--font--family-secondary);
  font-size: var(--font--size-sm);
  color: var(--text--color-primary);
  margin: 2.1875rem 0 0.3125rem;
}

.feedback__link {
  color: var(--text--color-accessory);
  font-size: var(--font--size-sm);
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: 1s;
}

@media screen and (min-width: 75rem) {
  .feedback__link:hover {
    transition: 1s;
    border-bottom: 1px solid var(--theme--color-primary);
  }
}

.social {
  margin-top: 3.125rem;
}

.social__input {
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font--size-sm);
  color: var(--text--color-secondary);
  box-sizing: border-box;
  width: 19.875rem;
  height: 3rem;
  padding: 0.3125rem 8rem 0.3125rem 0.3125rem;
}

@media screen and (min-width: 75rem) {
  .social__input {
    padding: 0.3125rem 8rem 0.3125rem 0.3125rem;
  }
}

.social__touch {
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
  color: var(--text--color-primary);
  font-size: var(--font--size-sm);
}

.social__wrap {
  position: relative;
  margin-top: 1.25rem;
  max-width: 22.125rem;
}

.social__submit {
  padding: 0.67em 1.25em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.social__list {
  display: flex;
  margin-top: 1.25rem;
}

@media screen and (min-width: 48rem) {
  .social__list {
    margin-top: 1.2rem;
  }
}

.social__item {
  background-color: var(--theme--color-primary);
  margin-right: 0.9375rem;
  height: 2.6875rem;
  width: 2.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 75rem) {
  .social__item:hover {
    background-color: #fff;
    transition: 1s;
  }
}

.footer {
  background-color: var(--theme--color-primary);
  margin-top: 2.5rem;
  padding: 0.9375rem 0 1.25rem;
}

.footer__terms {
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font--size-xsm);
  color: var(--text--color-secondary);
  max-width: 18.1875rem;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 48rem) {
  .footer__terms {
    max-width: fit-content;
  }
}

.footer__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 48rem) {
  .footer__wrap {
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer__copyright {
  font-family: var(--font--family-secondary);
  font-style: normal;
  font-weight: 500;
  margin-top: 0.9375rem;
  text-decoration: none;
  font-size: var(--font--size-xsm);
  text-align: center;
  color: var(--text--color-primary);
}
